[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
py-cord = {extras = ["voice"], version = "*"}
python-dotenv = "*"
dataset = "*"
audioop-lts = "*"
mysqlclient = "*"

[dev-packages]

[requires]
python_version = "3.13"
python_full_version = "3.13.0"
