[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dataset = "*"
python-dotenv = "*"
py-cord = {extras = ["voice"], version = "*"}
audioop-lts = "*"
pymysql = "*"
cryptography = "*"

[dev-packages]
